<a href="https://account.akka.io/token" target="_blank" id="header-notification-banner" data-context="Header Notification Banner" class="h-[54px] w-full top-0 z-40 px-4 bg-soft-white hover:bg-medium-gray hover:text-white group text-akka-black block light-banner transition-all duration-300">

  <div class="flex items-center justify-center h-full">
    <p class="text-sm m-0"> 
      <strong class="text-akka-orange" >IMPORTANT</strong>: We changed our binary download resolvers to improve security. Update your config file <span class="text-akka-blue-dkr group-hover:text-blue hover:underline">now</span>.
    </p>
  </div>
</a>
