<div id="header-notification-banner"  class="relative h-[54px] w-full top-0 z-40 pl-4 lg:pl-12 pr-12 bg-soft-white hover:bg-medium-gray hover:text-white group text-akka-black light-banner transition-all duration-300 items-center justify-center">
  <a href="https://account.akka.io/token" data-context="Header Notification Banner" target="_blank" class="flex items-center justify-center h-full flex-1">
    <p class="text-sm m-0"> 
      <strong class="text-akka-orange" >IMPORTANT</strong>: We changed our binary download resolvers. Update your config file <span class="text-akka-blue-dkr group-hover:text-blue hover:underline">now</span>.
    </p>
  </a>
  <button id="close-notification-banner" aria-label="Close notification" class="absolute right-4 top-1/2 -translate-y-1/2 text-akka-black hover:text-akka-orange text-xl p-1 bg-transparent border-none cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="4" y1="4" x2="16" y2="16"/><line x1="16" y1="4" x2="4" y2="16"/></svg>
  </button>
</div>
